<div class="table-filter-input">
    <mat-form-field appearance="legacy">
        <mat-label>Busqueda Por Id</mat-label>
        <input matInput placeholder="Digite el ID" [formControl]="documentIdFilterControl" />
    </mat-form-field>

    <button mat-flat-button color="primary" style="margin-left: 12px;" (click)="filterByIdAdvanceFilter()">
        Filtrar
        <mat-icon> search</mat-icon>
    </button>

    <button mat-flat-button color="primary" style="margin-left: 12px;" (click)="GetValuesFromDataBase()">
        Buscar Todos
        <mat-icon> search</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="dataSource " class="mat-elevation-z8 demo-table">
    <!-- Name Column -->
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Nombre del empleado">
        <th mat-header-cell *matHeaderCellDef> Nombre del empleado </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Salario del empleado">
        <th mat-header-cell *matHeaderCellDef> Salario del empleado </th>
        <td mat-cell *matCellDef="let element"> {{element.employee_salary|currency : '' : 'symbol' : '1.0-0'}} </td>
    </ng-container>

    <ng-container matColumnDef="Salario Anual del empleado">
        <th mat-header-cell *matHeaderCellDef> Salario Anual del empleado</th>
        <td mat-cell *matCellDef="let element"> {{element.employee_anual_salary |currency : '' : 'symbol' : '1.0-0'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="Edad del empleado">
        <th mat-header-cell *matHeaderCellDef> Edad dele empleado</th>
        <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
    </ng-container>

    <ng-container matColumnDef="Imagen de perfil">
        <th mat-header-cell *matHeaderCellDef> Imagen de perfil</th>
        <td mat-cell *matCellDef="let element"> {{element.profile_image}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>